html, body {
	font-family: 'Montserrat', sans-serif;
}

h1 { 
	margin-top: 20px;
	padding-left: 8px;
	border-left: 2px solid #00f28f;
	font-weight: 400;
}

h2 {
	color: #A9A9A9;
	margin-top: 20px;
	margin-left: 20px;
}

form {
	margin-top: 20px;

}

form input {
	width: 100%; 
	background: #f0f0f0;
	border: none;
	border-left: 2px solid #fff;
	font-size: 36px;
	width: 100%;
	padding: 20px;
	transition: background 2s, color 2s;
}

form input:focus {
	border-left: 2px solid #000;
	background: #fff;
	box-shadow: none;
	outline: none;
}

button.btn {
	background: transparent;
	padding: 20px 24px;
	color: #00f28f;
	font-size: 36px;
	transition: color .5s, background .5s, font-size .5s;
}

.disabled {
    color: #A9A9A9;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 160px 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 30px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 3px solid #00f28f;
  
  /*Box Shadow - (Optional)*/

}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

button.btn:hover {
	background: #00f28f;
	color: white;
	padding: 20px 24px;
	font-size: 36px;
}

button.btn:focus {
	background: transparent;
	outline: none;
	padding: 20px 24px;
	color: #00f28f;
	font-size: 36px;
	transition: color .5s, background .5s, font-size .5s;
}

.removeButton {
	color: red;
	background: transparent;
	outline: none;
	margin-left: 2px;
	border: none;
}

.main {
	margin-top: 65px;
}

.tasks {
	margin-top: 20px;
	list-style: none;
	padding-left: 0px;

}
#errorLabel {
	color: red;
	padding-left: 2px;
	font-size: 16px;
}

#weatherImg {
	width: 120px;
	height: 120px;
	padding-bottom: 15px;
}

#weatherTemp {
	font-size: 40px;
	margin-top: 30px;
	margin-left: -20px;
}

li {
	margin-top: 10px;
	font-size: 30px;

}

#success {
	padding-left: 4px;
	font-size: 24px;
}



